---
import { getCollection } from "astro:content";
import BaseLayout from "@layouts/BaseLayout.astro";
import HeroCard from "@components/HeroCard.astro";
import Card from "@components/CommonCard.astro";
import Pagination from "@components/Pagination.astro";
import { Image } from "astro:assets";

import shop from "/src/assets/shop1.png";
import IG from "/src/assets/IG.png";
import youtube from "/src/assets/youtube.webp";
import ta from "/src/assets/ta.jpg";

// TODO : Activate Web3 Form
---

<BaseLayout title="Contact" description="Contact us">
  
    
    <!-- Contact -->
    <div class="max-w-7xl px-4 lg:px-6 lg:px-8 py-12 lg:py-24 mx-auto">
        <div class="mb-6 sm:mb-10 max-w-2xl text-center mx-auto">
        <h2 class="font-medium text-black text-2xl sm:text-4xl dark:text-white">
            Contacts
        </h2>
        </div>
    
        <div class="grid grid-cols-1 lg:grid-cols-2 lg:items-center gap-6 md:gap-8 lg:gap-12">
        <div class="aspect-w-16 aspect-h-6 lg:aspect-h-14 overflow-hidden bg-gray-100 rounded-2xl dark:bg-neutral-800">
            <Image class="group-hover:scale-105 transition-transform duration-500 ease-in-out object-cover rounded-2xl" src={shop} alt="Image Description">
         </div>
        <!-- End Col -->
    
        <div class="space-y-8 lg:space-y-16">
            <div>
            <h3 class="mb-5 font-semibold text-black dark:text-white">
                Our contact
            </h3>
    
            <!-- Grid -->
            <div class="grid sm:grid-cols-2 gap-4 sm:gap-6 md:gap-8 lg:gap-12">
                <div class="flex gap-4">
                <!-- <svg class="flex-shrink-0 size-5 text-gray-500 dark:text-neutral-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"><path d="M20 10c0 6-8 12-8 12s-8-6-8-12a8 8 0 0 1 16 0Z"></path><circle cx="12" cy="10" r="3"></circle></svg> -->
                <a href="http://line.me/ti/p/~katsudpk" target="_blank" class="hover:scale-105">
                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 320 320"><defs><style>.cls-1{fill:#06c755;}.cls-2{fill:#fff;}</style></defs><g id="Layer_2" data-name="Layer 2"><g id="LINE_LOGO" data-name="LINE LOGO"><rect class="cls-1" width="320" height="320" rx="72.14"/><path class="cls-2" d="M266.66,144.92c0-47.74-47.86-86.58-106.69-86.58S53.28,97.18,53.28,144.92c0,42.8,38,78.65,89.22,85.42,3.48.75,8.21,2.29,9.4,5.26,1.08,2.7.71,6.93.35,9.65,0,0-1.25,7.53-1.52,9.13-.47,2.7-2.15,10.55,9.24,5.76s61.44-36.18,83.82-61.95h0C259.25,181.24,266.66,164,266.66,144.92Z"/><path class="cls-1" d="M231.16,172.49h-30a2,2,0,0,1-2-2v0h0V123.94h0v0a2,2,0,0,1,2-2h30a2,2,0,0,1,2,2v7.57a2,2,0,0,1-2,2H210.79v7.85h20.37a2,2,0,0,1,2,2V151a2,2,0,0,1-2,2H210.79v7.86h20.37a2,2,0,0,1,2,2v7.56A2,2,0,0,1,231.16,172.49Z"/><path class="cls-1" d="M120.29,172.49a2,2,0,0,0,2-2v-7.56a2,2,0,0,0-2-2H99.92v-37a2,2,0,0,0-2-2H90.32a2,2,0,0,0-2,2v46.53h0v0a2,2,0,0,0,2,2h30Z"/><rect class="cls-1" x="128.73" y="121.85" width="11.64" height="50.64" rx="2.04"/><path class="cls-1" d="M189.84,121.85h-7.56a2,2,0,0,0-2,2v27.66l-21.3-28.77a1.2,1.2,0,0,0-.17-.21v0l-.12-.12,0,0-.11-.09-.06,0-.11-.08-.06,0-.11-.06-.07,0-.11,0-.07,0-.12,0-.08,0-.12,0h-.08l-.11,0h-7.71a2,2,0,0,0-2,2v46.56a2,2,0,0,0,2,2h7.57a2,2,0,0,0,2-2V142.81l21.33,28.8a2,2,0,0,0,.52.52h0l.12.08.06,0,.1.05.1,0,.07,0,.14,0h0a2.42,2.42,0,0,0,.54.07h7.52a2,2,0,0,0,2-2V123.89A2,2,0,0,0,189.84,121.85Z"/></g></g></svg>
                </a>
                                <div class="grow">
                    <p class="text-lg font-bold text-gray-800 dark:text-neutral-400">
                    Katsu Shinobu
                    </p>
                    <a href="http://line.me/ti/p/~katsudpk" target="_blank" class="hover:underline">
                        <p class="mt-1 text-black not-italic dark:text-white">
                            Line ID : katsudpk
                        </p>
                    </a>
                    
                    <div class="flex gap-3 mt-3">
                      <a href="https://www.instagram.com/diversparadisekomodo/" target="_blank">
                        <Image src={IG} alt="Instagram" class="w-[40px] aspect-auto hover:scale-110" />
                      </a>
                      <a href="https://www.youtube.com/channel/UCZfyjEf1lqUiZWN0eMZ_r-A" target="_blank">
                        <Image src={youtube} alt="YouTube" class="w-[30px] aspect-auto hover:scale-110" />
                      </a>
                      <a href="https://www.tripadvisor.co.id/Attraction_Review-g1777483-d3483340-Reviews-Divers_Paradise_Komodo-Labuan_Bajo_Flores_East_Nusa_Tenggara.html" target="_blank">
                        <Image src={ta} alt="Trip Advisor" class="w-[35px] hover:scale-110" />
                      </a>
                      
                    </div>
                </div>
                </div>
            </div>
            <!-- End Grid -->
            </div>
    
            <div>
            <h3 class="mb-5 font-semibold text-black dark:text-white">
                Other contacts
            </h3>
    
            <!-- Grid -->
            <div class="grid sm:grid-cols-2 gap-4 sm:gap-6 md:gap-8 lg:gap-12">
                <div class="flex gap-4">
                <svg class="flex-shrink-0 size-5 text-gray-500 dark:text-neutral-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"><path d="M21.2 8.4c.5.38.8.97.8 1.6v10a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V10a2 2 0 0 1 .8-1.6l8-6a2 2 0 0 1 2.4 0l8 6Z"></path><path d="m22 10-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 10"></path></svg>
    
                <div class="grow">
                    <p class="text-sm text-gray-600 dark:text-neutral-400">
                    Email us
                    </p>
                    <p>
                    <a class="relative inline-block font-medium text-black before:absolute before:bottom-0.5 before:start-0 before:-z-[1] before:w-full before:h-1 before:bg-lime-400 hover:before:bg-black focus:outline-none focus:before:bg-black dark:text-white dark:hover:before:bg-white dark:focus:before:bg-white" href="mailto:example@site.so">
                        info@diversparadisekomodo.com
                    </a>
                    </p>
                </div>
                </div>
    
                <div class="flex gap-4">
                <svg class="flex-shrink-0 size-5 text-gray-500 dark:text-neutral-500" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M22 16.92v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z"/></svg>
    
                <div class="grow">
                    <p class="text-sm text-gray-600 dark:text-neutral-400">
                    Call/WhatsApp us
                    </p>
                    <p>
                    <a class="relative inline-block font-medium text-black before:absolute before:bottom-0.5 before:start-0 before:-z-[1] before:w-full before:h-1 before:bg-lime-400 hover:before:bg-black focus:outline-none focus:before:bg-black dark:text-white dark:hover:before:bg-white dark:focus:before:bg-white" 
                       href="https://wa.me/6281236704521"
                    >
                        +62 812 3670 4521
                    </a>
                    </p>
                </div>
                </div>
            </div>
            <!-- End Grid -->
            </div>
        </div>
        <!-- End Col -->
        </div>
    </div>
    <!-- End Contact -->
    </div>
    

  <section class="text-gray-600 body-font relative">
    <div class="container px-5 py-24 mx-auto flex sm:flex-nowrap flex-wrap">
      <div class="lg:w-2/3 md:w-1/2 bg-gray-300 rounded-lg overflow-hidden sm:mr-10 p-10 flex items-end justify-start relative">
        <iframe width="100%" height="100%" class="absolute inset-0" title="map" src="https://maps.google.com/maps?width=100%&height=600&hl=en&q=Divers%20Paradise%20Komodo&ie=UTF8&t=&z=14&iwloc=B&output=embed" ></iframe>
        <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3946.0732296748597!2d119.87484787589545!3d-8.492261085940548!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2db46680e1bf71a1%3A0x8645fae29e84a7c!2sDivers%20Paradise%20Komodo!5e0!3m2!1sen!2sid!4v1716021460967!5m2!1sen!2sid" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> -->
        <div class="bg-white relative flex flex-wrap py-6 rounded shadow-md w-full opacity-50">
          <div class="lg:w-1/2 px-6">
            <h2 class="title-font font-semibold text-gray-900 tracking-widest text-xs">ADDRESS</h2>
            <p class="mt-1">Jl. Mutiara 1, Labuan Bajo 86554</p>
            <p class="mt-1 italic">Below Senja Eatery</p>
          </div>
        <!--  <div class="lg:w-1/2 px-6 mt-4 lg:mt-0">
            <h2 class="title-font font-semibold text-gray-900 tracking-widest text-xs">EMAIL</h2>
            <a class="text-indigo-500 leading-relaxed">info@diversparadisekomodo.com</a>
            <h2 class="title-font font-semibold text-gray-900 tracking-widest text-xs mt-4">PHONE</h2>
            <p class="leading-relaxed">123-456-7890</p>
          </div> -->
        </div>
      </div>
      <div class="lg:w-1/3 md:w-1/2 bg-white dark:bg-current flex flex-col md:ml-auto w-full md:py-8 mt-8 md:mt-0 px-4 rounded-xl border">
        <h2 class="text-gray-900 dark:text-neutral-200 text-lg mb-1 font-medium title-font">Feedback</h2>
        <p class="leading-relaxed mb-5 text-gray-600 dark:text-neutral-200">Please describe your request</p>
        <div class="relative mb-4">
          <label for="name" class="leading-7 text-sm text-gray-600 dark:text-neutral-200">Name</label>
          <input type="text" id="name" name="name" class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
        </div>
        <div class="relative mb-4">
          <label for="email" class="leading-7 text-sm text-gray-600 dark:text-neutral-200">Email</label>
          <input type="email" id="email" name="email" class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
        </div>
        <div class="relative mb-4">
          <label for="message" class="leading-7 text-sm text-gray-600 dark:text-neutral-200">Message</label>
          <textarea id="message" name="message" class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 h-32 text-base outline-none text-gray-700 py-1 px-3 resize-none leading-6 transition-colors duration-200 ease-in-out"></textarea>
        </div>
        <button class="text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg">Submit</button>
        <p class="text-xs text-gray-500 mt-3 dark:text-neutral-200">We will respond within 1-2 business day.</p>
      </div>
    </div>
  </section>
</BaseLayout>