---
import BaseLayout from "@layouts/BaseLayout.astro";

import { SITE_TITLE, SITE_DESCRIPTION } from "@consts";

import Heading from "@components/Heading.astro";
import Hero from "@components/Hero.astro";
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <Heading />
  <Hero />
  <!-- Banner Ad -->
  <a href='https://my.divessi.com/register/ref/741155' target='_SSI'>
    <img src='//my.divessi.com/assets/banners/banner_15/540_170.png' alt='SSI - Scuba Schools International - my.divessi.com - Register Now' width='540' height='170' class="mt-3 mx-auto"/>
  </a>
  <iframe src="//my.divessi.com/extern/recent_certs.php/741155/2/600/h/4/300/500" name="SSI - We conduct the following Programs" id="ourCertRules" class="w-3/4 border text-center mx-auto mt-5 rounded-lg dark:bg-gray-300"> 
    <p><a href="//my.divessi.com/extern/recent_certs.php/741155/2/600/h/4/300/500" target="ssi">SSI - We conduct the following Programs</a></p> 
  </iframe>
  <!-- End of Banner Ad  -->
</BaseLayout>
