---
import BaseLayout from "@layouts/BaseLayout.astro";
import Testimonial from "@components/Testimonial.astro";
---
<BaseLayout title="Customer Testimonial" description="List of testimonials from our customer">
  <h1 class="w-full text-4xl text-center dark:text-neutral-200">Testimonial from our customers</h1>
  <Testimonial />
</BaseLayout>