---
import TestimonialCard from "./TestimonialCard.astro";

const TestimonialList = [
  {
    name: "Magdalena Michalak",
    image: "/magdalena.png",
    testimonial: "The best diving school in Labuan Bajo. I made with them Open Water Course and Im super satisfied. Very nice, super helpful people. They took us to places where on the first day we saw turtles, manta rays, sharks and beautiful coral reefs with thousands of fish. I totally recommend it and will definitely come back 🐠🐢🦈",
    link: "https://maps.app.goo.gl/2G7KzGhcx5C3Tqey8"
  },
  {
    name: "Luna mj Ahn",
    image: "/luna.png",
    testimonial: "SSI diving center. Strongly recommend. Had a first day dive and was so happy that had another second day dive. Komodo Island is fabulous everywhere, liked about Diver Paradise Komodo (1) great briefing with excellent drawings which was such a fun part of getting ready to dive (2) cool & chill guides from various backgrounds(not only locals, Asian, European etc) surely with full experience for safety. (3) awesome staffs who willing to help (special thanks to Marian & Eto, owe them many favors) (4) enjoyed food & snacks provided so much. Had a special time, liked the vibe, was wonderful experience. Thanks to all @Divers Paradise Komodo",
    link: "https://maps.app.goo.gl/mwMgkKjwKCN3TJxc8"
  },
  {
    name: "Jeroma Vialay",
    image: "/jerome.png",
    testimonial: "We were supposed to dive only once in the Komodos, but the quality of the divespots and Katsu's kindness made us change our mind. Respect the pletoric offer of equivalent services and dive shops in Labuan Bajo, we chose to make the difference on people, and we don't regret it! On top of that they gave us a lot of really usefull informations for our trip in Flores, special thanks to Marian for his precious help. We highly recommand, thanks a lot for everything ! Claire and Jérôme",
    link: "https://maps.app.goo.gl/FcBYUSPx8npULEEQ6"
  },
  {
    name: "Manon D",
    image: "/manon.png",
    testimonial: "This dive school is very chilled! Their style is a bit less conservative than ours, but we still had an amazing day. We saw so many turtles, a cuttlefish and 4 mantas! It was a pleasant surprise that they had some nice videos to share with us. As a side business they also rent out scooters here, that you can drop off in Maumere if you want. It's a super convenient and economic option. We rented the scooters with Marian and were super happy with everything! The quality was really good and we enjoyed it so much! I highly recommend exploring Flores on scooter. 🛵",
    link: "https://maps.app.goo.gl/g6swyx8kNVHbTUWu5"
  },
  {
    name: "Guillermo D Celis",
    image: "/guillermo.png",
    testimonial: "The best place for a diver in the world! I did 6 dives in 2 days. They take you in a boat from Labuan Bajo to Komodo National Park to do the dives. The breakfast and the lunch are included, and they were the best meals I tried in the area! The name of Paradise Divers it is a reflection of reality, the best place to dive around the world! I saw all kind of creatures (sharks, manta rayas, dolphins, turtles,…). But the best thing even if it is the best spot to dive in the world is the STAFF!!! The instructors lovely, friendly and willing to make you happy all the time! Thank you Mariano for the management and special thank you to MARC, LUPE and KATSU for being my instructors in one of the best 2 days of my life!",
    link: "https://maps.app.goo.gl/TBAVeWzTT1TzEA2j8"
  },
  {
    name: "Yoav Gilad",
    image: "/yoav.png",
    testimonial: "I took the day trip(3 dives) with Albert the masterdive. The boat was very good and new (from 2019). Everything was very professional. Lunch was good also a lot of snacks and fruits. I highly recommend this dive center also due to the low prices compare to the others.",
    link: "https://maps.app.goo.gl/hxrLrPPZV3tMqwwh7"
  }

]
---
<!-- Testimonials -->
<div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
    <!-- Grid -->
    <div class="grid grid-cols-1 gap-12 sm:grid-cols-2 md:gap-20 md:grid-cols-3">
      {TestimonialList.map(customer => (<TestimonialCard name={customer.name} image={customer.image} testimonial={customer.testimonial} link={customer.link} />) )}
    </div>
    <!-- End Grid -->
  </div>
  <!-- End Testimonials -->